Repository taichi-dev/taichi, pull requests merged in 2021-11, with the labels that each got.

#3397 [Doc] Fix an API typo in GGUI doc
  docs/lang/articles/misc/ggui.md
Labels: doc, gui

#3571 [Bug] [vulkan] Fix data type alignment for arguments and return values
  taichi/backends/vulkan/kernel_utils.cpp
  tests/python/test_arg_alignment.py
Labels: vulkan

#3614 [gui] Respect drawing order specified by user
  taichi/ui/backends/vulkan/renderer.cpp
  taichi/ui/common/scene_base.h
Labels: gui

#3628 [gui] Fix incorrect shading when first calling mesh/particles
  taichi/ui/backends/vulkan/renderables/mesh.cpp
  taichi/ui/backends/vulkan/renderables/particles.cpp
Labels: bug, gui
